.emptyPortfolio__wrapper {
  height: 368px;
  margin-top: 26px;
  margin-bottom: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 240px;
    height: 240px;
  }
  .title__text {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
  }
  .desc {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: rgb(88, 102, 126);
    margin: 8px auto 16px;
  }
  button {
    width: 172px;
    height: 36px;
    padding: 0 24px;
    background-color: #3861fb;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    &:hover {
      background-color: #2e5cff;
    }
  }
}
